<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">你正在使用一个<strong>过时</strong>的浏览器。请<a class="link" href="http://browsehappy.com" target="_blank">升级你的浏览器</a>以查看网页。</p>
<![endif]-->
<div class="main">
    <img class="main-bg" src="images/bg.jpg" alt="">
    <div class="main-inner">
        <div class="main-left">
            <div class="main-left-title">
                <div class="author">
                    <img src="images/paulhan.jpg" alt="">
                    <span>paul</span>
                </div>
                <div class="dropdown active">
                    <ul class="dropdown-list">
                        <li>
                            <i class="icon add_chat_icon"></i>
                            发起聊天
                        </li>
                        <li>
                            <i class="icon close_desktop_icon"></i>
                            关闭桌面通知
                        </li>
                        <li>
                            <i class="icon close_ring_icon"></i>
                            关闭声音
                        </li>
                        <li>
                            <i class="icon callback_icon"></i>
                            意见反馈
                        </li>
                        <li>
                            <i class="icon logout_icon"></i>
                            退出
                        </li>
                    </ul>
                </div>
            </div>
            <div class="left-content"></div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>
</body>
</html>
